#parse("/templates/navbar.vm")
#@mainLayout()
<a href="$WebPath.getEMPLOYEE_ADD()" class="btn btn-primary float-right">
    <i data-feather="plus"></i> Add New Employee
</a>
<br><br>

<br><br>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Password</th>
        <th>Account Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        #foreach($employee in $employeeList)
        <tr>
            <td>$velocityCount</td>
            <td>$employee.getUsername()</td>
            <td>$employee.getPassword()</td>
            <td>$employee.getType()</td>
            <td>
                <a href="$WebPath.getEMPLOYEE()$employee.getId()/edit/">
                    <i data-feather="edit"></i> Edit
                </a>
                <a href="#" data-toggle="modal" data-target="#deleteModal$employee.getId()">
                    <i data-feather="trash-2"></i> Delete
                </a>
            </td>
        </tr>
        #end
    </tbody>
</table>
    #foreach($employee in $employeeList)
    <div class="modal" id="deleteModal$employee.getId()" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete This Account?</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure want to account $employee.getUsername()?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i data-feather="x"></i> Cancel
                    </button>
                    <form method="post" action="$WebPath.getEMPLOYEE()$employee.getId()/delete/">
                        <button type="submit" class="btn btn-danger">
                            <i data-feather="trash-2"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    #end
#end